.post-type-iworks_5o5_person #iworks-boats-list .iworks-boat-single {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-top: 1px solid #aaa;
  margin: 10px 0;
  padding-top: 10px;
}
.post-type-iworks_5o5_person #iworks-boats-list .iworks-boat-single:first-child {
  padding: 0;
  border: 0;
}
.post-type-iworks_5o5_person #iworks-boats-list .iworks-boat-single > span {
  min-width: 200px;
  padding: 0 10px;
}
.post-type-iworks_5o5_person #iworks-boats-list .iworks-boat-single select {
  min-width: 200px;
  width: 100%;
}
.post-type-iworks_5o5_person #iworks-boats-list .iworks-boat-single ul {
  margin: 0;
  padding: 0;
}
