.post-type-iworks_5o5_person {
    #iworks-boats-list {
        .iworks-boat-single {
            display: flex;
            flex-wrap: nowrap;
            border-top: 1px solid #aaa;
            margin: 10px 0;
            padding-top: 10px;
            &:first-child {
                padding: 0;
                border: 0;
            }
            &>span {
                min-width: 200px;
                padding: 0 10px;
            }
            select {
                min-width: 200px;
                width: 100%;
            }
            ul {
                margin: 0;
                padding: 0;
            }
        }
    }
}
